html,
body {
    height: 100%;
}

body {
    background-color: yellowgreen;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-brand:hover {
    color: yellowgreen;
}

.secao {
    background-color: floralwhite;
}

.conteudo {
    background-color: floralwhite;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: yellowgreen;
}
